.App {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}

.instructions {
  margin-top: 50px;
  width: 500px;
}

.container {
  width: screen;
  height: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
